@tailwind base;
@tailwind components;
@tailwind utilities;

.inika {
  font-family: var(--font-inika);
}

.irish_grover {
  font-family: var(--font-irish_grover);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  scroll-behavior: smooth;
}
